.intro-section {
  background-color: #f0f4f8;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.intro-section .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.intro-content {
  max-width: 65%;
  height: 100%;
}

.intro-content h1 {
  font-size: 3.2em;
  color: #333;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.location {
  font-size: 1.3em;
  color: #999;
}

.intro-description {
  margin: 23px 0;
}

.intro-description p {
  font-size: 1.3em;
  color: #555;
  line-height: 1.5;
  margin-bottom: 5px;
  max-width: 90%;
}

.intro-content > div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

div.intro-description p {
  margin-botton: 5px;
}

.intro-content .contact-item {
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.intro-content .contact-item:not(.consultation-button) {
  border: 1px solid #e0e0e0;
}

.intro-content .contact-item:not(.consultation-button):hover {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.intro-content .contact-item img {
  width: 25px;
  height: 25px;
}

.consultation-button {
  background-color: #2292a1!important;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.1em;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.consultation-button span {
  color: #fff;
  font-size: 16px;
}

.consultation-button:hover {
  background-color: #367dc9!important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #fff !important;
}

.intro-image {
  max-width: 43%;
  height: auto;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .intro-section .container {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }
  
  .intro-content {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  
  .intro-content p {
    max-width: 100%;
  }
  
  .intro-content > div {
    justify-content: center;
  }
  
  .intro-image {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    right: 0;
    top: 0;
    transform: none;
  }
}

@media (max-width: 576px) {
  .intro-section {
    padding: 40px 0;
  }
  
  .intro-content h1 {
    font-size: 2.5em;
  }
  
  .intro-description p {
    font-size: 1.1em;
  }
  
  .intro-image {
    max-width: 100%;
  }
}